  
  .later {
    background-color:rgb(124, 124, 240);
    color: black;
  }
  
  .now {
    background-color: rgb(243, 243, 171);
    color: black;
  }

  .earlier {
    background-color: rgb(238, 131, 131);
    color: black;
  }
  
  
  
  
  
  
 